<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    {% block style %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css()| safe }}
    {% endblock%}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }

        .container {
            max-width: 500px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<div class="container">
<form action="" method="post">
    <h1>Add Book</h1>
    <div class="form_group">
        <label >Book Name</label>
        <input type="text" name="title" id="title" class="form-control">
    </div>
    <div class="form_group">
        <label >Book Author</label>
        <input type="text" name="author" id="author" class="form-control">
    </div>
    <div class="form_group">
        <label >Rating</label>
        <input type="text" name="rating" id="rating" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Add Book</button>
</form>
</div>
</body>
</html>