<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block style %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css()| safe }}
    {% endblock%}

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='img/book_icon.png') }}" rel="shortcut icon" type="image/png">
    <title>Edit Rating</title>
</head>
<body>
<form action="{{ url_for('edit_rating') }}" method="post">
    <h1>Edit Rating</h1>
    <div class="form_group">
        <p>Book title: {{ book.title }} </p>
        <p>Book author: {{ book.author }} </p>
        <p>Current rating: {{ book.rating }} </p>

        <label>Rating</label>
        <input class="form-control" id="rating" name="rating" type="text" value="{{ book.id }}">
    </div>
    <p></p>
    <button class="btn btn-primary" type="submit">Edit Rating</button>
    <input name="id" type="hidden" value="{{ book.id }}">
</form>

</body>
</html>