<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>Library</h1>
{% for book in books %}
<ul>
    <li>{{ book.title }} - {{ book.author }} - {{ book.rating }}/10</li>
</ul>
{% endfor %}
<ul>
    <li><a href="index.php?controller=book&action=index">Books</a></li>
    <li><a href="index.php?controller=author&action=index">Authors</a></li>
    <li><a href="index.php?controller=genre&action=index">Genres</a></li>
</ul>
<a href="{{url_for('add_book')}}">Add book</a>
</body>
</html>