<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'base.html' %}
    {% block title %}
    Access denied
    {% endblock %}
</head>
<body>
{% block content %}
<div class="container">
    <h1>Access Denied </h1>
    <iframe allowFullScreen class="giphy-embed" frameBorder="0" height="271" src="https://giphy.com/embed/1xeVd1vr43nHO"
            width="480"></iframe>
    <p><a href="https://giphy.com/gifs/cheezburger-funny-dog-fails-1xeVd1vr43nHO">via GIPHY</a></p>
</div>
{% if form.name.errors %}
<ul class="errors">
    {% for error in form.name.errors %}
    <li> {{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
</body>
</html>