<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "base.html" %}
    {% block title %}
    Success
    {% endblock %}
</head>
<body>
{% block content %}

<div class="container">
    <h1>Top Secret </h1>
    <p>My secret is that I am never going to give you up, never going to let you down, never going to run around and
        desert you.</p>
    <p>f"💪 Success! Form submitted by {{name}} with password {{password}}"</p>
    <iframe allowFullScreen class="giphy-embed" frameBorder="0" height="360" src="https://giphy.com/embed/Ju7l5y9osyymQ"
            width="480"></iframe>
    <p><a href="https://giphy.com/gifs/rick-astley-Ju7l5y9osyymQ">via GIPHY</a></p>
</div>
{% endblock %}
</body>
</html>