<!-- Footer -->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-lx-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="{{ url_for('index') }}">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab ga-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                            Home</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ url_for('about') }}">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                            About</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ url_for('contact') }}">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                            Contact</a>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright© MoZo's blog 2021</div>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>