{% from "bootstrap5/form.html" import render_form %}
{% block content %}

{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('{{ url_for('static', filename='assets/img/post-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.subtitle }}</h2>
                    <span class="meta">Posted by
                        <a href="#!">{{ post.author }}</a>
                        on {{ post.date }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->

<article>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ post.body | safe }}
                <!-- TODO: only show edit post button if user is is 1 (admin user) -->
                <div class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary float-right" href="{{ url_for('edit_post', post_id=post.id) }}">Edit
                        Post</a>
                </div>

                <!-- Comments area -->
                <!-- add a CKEditor for commenting below -->
                {{ ckeditor.load() }}
                {{ ckeditor.config(name="comment_text") }}
                {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                <div class="comment">

<!--                    <h3>Leave a Comment:</h3>-->
<!--                    <form method="post">-->
<!--                        {{ form.hidden_tag() }}-->
<!--                        <div class="form-group">-->
<!--                            {{ form.name.label(class="form-label", for="form-name") }}-->
<!--                            {{ form.name(id="form-name", class="form-control", autocomplete="comment") }}<br>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            {{ form.comment.label(class="form-label", for="form-comment") }}-->
<!--                            {{ form.comment(id="form-comment", class="form-control", rows="5", autocomplete="comment")-->
<!--                            }}-->
<!--                        </div>-->
<!--                        <br>-->
<!--                        <div class="d-grid gap-2">-->
<!--                            {{ form.submit(class="btn btn-primary") }}-->
<!--                        </div>-->


<!--                    </form>-->
<!--                    &lt;!&ndash; show all comments for this post &ndash;&gt;-->
<!--                    <ul class="commentList">-->
<!--                        <li>-->
<!--                            <div class="commenterImage">-->
<!--                                <img src="../static/assets/img/default-profile.jpg"/>-->
<!--                            </div>-->
<!--                            <div class="commentText">-->
<!--                                <p class="">Hello, this is a test comment.</p>-->
<!--                                <span class="date sub-text">on March 5th, 2014</span>-->
<!--                            </div>-->
<!--                        </li>-->

<!--                        {% for comment in post.comments: %}-->
<!--                        <li>-->
<!--                            <div class="commenterImage">-->
<!--                                <img src="{{ url_for('static', filename='assets/img/default-profile.jpg') }}"-->
<!--                                     alt="Profile picture"/>-->
<!--                            </div>-->
<!--                            <div class="commentName">-->
<!--                                <p class=""><strong>{{ comment.name }}</strong></p>-->
<!--                            </div>-->
<!--                            <div class="commentText">-->
<!--                                <p class="">{{ comment.text }}</p>-->
<!--                                <span class="date sub-text">on {{ comment.date.strftime('%B %d, %Y') }}</span>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        {% endfor %}-->
<!--                    </ul>-->
                </div>
            </div>
        </div>
    </div>
</article>

{% include "footer.html" %}
{% endblock %}