{% extends 'base.html' %}

{% block title %}
Add A New Cafe
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h1>Add A New Cafe into the database</h1>
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {{ form.cafe.label(class="form-label")}}
                    {{ form.cafe(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.location_url.label(class="form-label")}}
                    {{ form.location_url(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{ form.opening.label(class="form-label")}}
                    {{ form.opening(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{ form.closing.label(class="form-label")}}
                    {{ form.closing(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{ form.coffee_rating.label(class="form-label")}}
                    {{ form.coffee_rating(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{ form.wifi_rating.label(class="form-label")}}
                    {{ form.wifi_rating(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{ form.power.label(class="form-label")}}
                    {{ form.power(class="form-control")}}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <p class="space-above"><a href="{{url_for('cafes')}}">See all cafes</a> </p>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ bootstrap.load_js() }}
{% endblock %}