{% extends "base.html" %}

{% block title %}
Add A New Cafe
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h1>Add A New Cafe into the database</h1>
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {{ form.cafe.label(class="form-label")}}
                    {{ form.cafe(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.location.label(class="form-label")}}
                    {{ form.location(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{ form.opening.label(class="form-label")}}
                    {{ form.opening(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{ form.coffe.label(class="form-label")}}
                    {{ form.coffe(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{ form.wifi.label(class="form-label")}}
                    {{ form.wifi(class="form-control")}}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <p class="space-above"><a href="#">See all cafes</a> </p>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ bootstrap.load_js() }}
{% endblock %}