<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    {% block style %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% endblock %}

    <title>{% block title %} {% endblock %} </title>

</head>
<body>

{% block content %}

{% endblock %}

{% block scripts %}
{% endblock %}

</body>
</html>