{% extends "base.html" %}

{% block title %}
    Restaurants
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12>">
            <h1>All Cafes</h1>

            <table class="table table-dark table-striped table-hover">
                <!-- This is where you will write the code to render a Bootstrap
          Table that contains all the information from the
          cafe-data.csv file. -->
                <tr>
                    <th>Cafe</th>
                    <th>Location URL</th>
                    <th>Opening Time</th>
                    <th>Closing Time</th>
                    <th>Coffee Rating</th>
                    <th>WiFi Rating</th>
                    <th>Power Outlet Av.</th>
                </tr>

                    {% for cafe in cafes %}
                        <tr>
                            <td>{{ cafe.name }}</td>
                            <td><a href="{{ cafe.location }}"> {{ cafe.location }}</a></td>
                            <td>{{ cafe.opening }}</td>
                            <td>{{ cafe.closing }}</td>
                            <td>{{ cafe.coffee }}</td>
                            <td>{{ cafe.wifi }}</td>
                            <td>{{ cafe.power }}</td>

                        </tr>
                    {% endfor %}

            </table>
            <p><a href="{{ url_for('home', _anchor='') }}"> Return to index page</a> </p>
        </div>
<!--    <ul>-->
<!--        {% for cafe in cafes %}-->
<!--            <li>{{ cafe.name }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ bootstrap.load_js() }}
{% endblock %}