{% extends "base.html" %}

{% block title %}
    Restaurants
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12>">
            <h1>All Cafes</h1>

            <table class="table table-dark table-striped table-hover">
                <!-- This is where you will write the code to render a Bootstrap
          Table that contains all the information from the
          cafe-data.csv file. -->
                <tr>
                    <th>Cafe</th>
                    <th>Location URL</th>
                    <th>Opening Time</th>
                    <th>Closing Time</th>
                    <th>Coffee Rating</th>
                    <th>WiFi Rating</th>
                    <th>Power Outlet Av.</th>
                </tr>
                {% with open('cafe-data.csv', 'r') as file %}
                    {% for line in file %}
                        <tr>
                            {% set cafe, location_url, opening, closing, coffee_rating, wifi_rating, power = line.strip().split(',') %}
                            <td>{{ cafe }}</td>
                            <td><a href="{{ location_url }}"> {{ location_url }}</a></td>
                            <td>{{ opening }}</td>
                            <td>{{ closing }}</td>
                            <td>{{ coffee_rating }}</td>
                            <td>{{ wifi_rating }}</td>
                            <td>{{ power }}</td>

                        </tr>
                    {% endfor %}
                {% endwith %}
            </table>
            <p><a href="#"> Return to index page</a> </p>
        </div>
<!--    <ul>-->
<!--        {% for cafe in cafes %}-->
<!--            <li>{{ cafe.name }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ bootstrap.load_js() }}
{% endblock %}