{% extends "base.html" %}

{% block title %}
Coffee and Wifi
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4"> ☕️ Coffee & Wifi 💻 </h1>
        <p class="lead"> Want to work in a cafe but need power and wifi?</p>
        <hr class="my-4">
        <p>You've found the right place! Checkout my collection of cafes with data on power socket availability, Wi-Fi speed and coffee quality.</p>
        <a class="btn btn-warning brn-lg" href="#" role="button">Find a Cafe</a>
    </div>
</div>



{% endblock %}

{% block scripts %}
{{ bootstrap.load_js() }}
{% endblock %}