<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Molnar</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
<table>
    <tbody>
    <tr>
        <td><img src="static/mozo.png" alt="mozo"></td>
        <td>
            <h1>Zoltan Molnar</h1>
            <p>Web Developer</p>
        </td>

    </tr>
    </tbody>
</table>

<hr>

<h2>Objective</h2>
<p>
    I am a web developer with a passion for creating beautiful and functional websites. I have a strong foundation in
    programming and design, and I am always looking to learn new technologies and improve my skills. I am looking for a
    position where I can use my skills to create innovative and high-quality websites.
</p>
<hr>
<h2>Professional experiences</h2>
<table cellspacing="10">
    <thead>
    <tr>
        <th>Dates</th>
        <th>Work</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td>2017-</td>
        <td>Sales and Logistics Manager</td>
    </tr>
    <tr>
        <td>2010-2017</td>
        <td>Sales Team Leader</td>
    </tr>
    <tr>
        <td>2005-2010</td>
        <td>Project Manager</td>
    </tr>
    <tr>
        <td>2000-2005</td>
        <td>Regional Representative</td>
    </tr>
    </tbody>

</table>

<hr>

<h2>Skills</h2>
<table cellspacing="10">

    <tbody>
    <tr>
        <td>HTML</td>
        <td>⭐️ ⭐️ ⭐️</td>
    </tr>
    <tr>
        <td>CSS</td>
        <td>⭐️ ⭐️ ⭐️</td>
    </tr>
    <tr>
        <td>JavaScript</td>
        <td>⭐️ ⭐️ ⭐️</td>
    </tr>
    <tr>
        <td>Java</td>
        <td>⭐️ ⭐️ ⭐️</td>
    </tr>
    <tr>
        <td>MySQL, PostgreSQL</td>
        <td>⭐️ ⭐️ ⭐️</td>
    </tr>
    <tr>
        <td>Python</td>
        <td>⭐️ ⭐️ ⭐️</td>
    </tr>
    <tr>
        <td>GitHub</td>
        <td>⭐️ ⭐️ ⭐️</td>
    </tr>
    <tr>
        <td>Jira</td>
        <td>⭐️ ⭐️ ⭐️</td>
    </tr>
    </tbody>

</table>
<p>
    <a href="#">My hobbies</a>
    <a href="templates/mozo.html">Contact me</a>
</p>
</body>
</html>