<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Molnar</title>
</head>
<body>
<h1>Zoltan Molnar</h1>
<p>Web developer</p>

<hr>
<h2>Objective</h2>
<p>
    I am a web developer with a passion for creating beautiful and functional websites. I have a strong foundation in
    programming and design, and I am always looking to learn new technologies and improve my skills. I am looking for a
    position where I can use my skills to create innovative and high-quality websites.
</p>
<hr>
<h2>Professional experiences</h2>
<table cellspacing="10">
    <thead>
    <tr>
        <th>Dates</th>
        <th>Work</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td>2017-</td>
        <td>Sales and Logistics Manager</td>
    </tr>
    <tr>
        <td>2010-2017</td>
        <td>Sales Team Leader</td>
    </tr>
    <tr>
        <td>2005-2010</td>
        <td>Project Manager</td>
    </tr>
    <tr>
        <td>2000-2005</td>
        <td>Regional Representative</td>
    </tr>
    </tbody>

</table>

<hr>

<p>
    <a href="#">About me</a>
</p>
<p>
    <a href="#">Projects</a>
</p>
<p>
    <a href="#">Contact</a>
</p>

</body>
</html>