<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zoltan Molnar</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/mozo.css">
     <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
</head>
<body>
<div class="top-container">
    <img class="top-cloud" src="static/cloud.png" alt="cloud">
    <div class="title">
        <h1>I'm Zoltan Molnar</h1>
        <h2>
            "a "
            <span class="pro">pro</span>
            "grammer"</h2>
    <img class="bottom-cloud" src="static/cloud.png" alt="cloud">
    <img class="mountain" src="static/mountain.png" alt="mountain-img">
</div>
<div class="middle-container">
    <div class="profile">
        <img src="static/mozo.png" alt="mozo">
        <h2>Hello.</h2>
        <p>I am a web developer with a passion for creating beautiful and functional websites. I have a strong foundation in
            programming and design, and I am always looking to learn new technologies and improve my skills. I am looking for a
            position where I can use my skills to create innovative and high-quality websites.</p>
</div>
<div class="bottom-container"></div>

</body>
</html>