<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zoltan Molnar</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/mozo.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
    <link rel="icon" href="static/favicon.ico">
</head>
<body>
<div class="top-container">
    <img class="top-cloud" src="static/cloud.png" alt="cloud">
    <div class="title">
        <h1>I'm Zoltan Molnar</h1>
        <h2>
            a
            <span class="pro">pro</span>grammer</h2>
        <img class="bottom-cloud" src="static/cloud.png" alt="cloud">
        <img class="mountain" src="static/mountain.png" alt="mountain-img">
    </div>
</div>
<div class="middle-container">
    <div class="profile">
        <img src="static/mozo.png" alt="mozo">
        <h2>Hello.</h2>
        <p class="intro">I am a web developer with a passion for creating beautiful and functional websites. I have
            a strong foundation in
            programming and design, and I am always looking to learn new technologies and improve my skills. I am
            looking for a
            position where I can use my skills to create innovative and high-quality websites.</p>
    </div>
    <hr>
    <div class="skills">
        <h2>Skills</h2>
        <div class="skill-row">
            <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">
            <h3>Programming</h3>
            <p>I have experience with HTML, CSS, JavaScript, and Python. I am always looking to learn new languages and
                technologies.</p>
        </div>
        <div class="skill-row">
            <img class="chilli-img" src="static/chillies.png" alt="chilli">
            <h3>Cooking</h3>
            <p>I love to cook and experiment with new recipes. I am always looking to learn new techniques and improve
                my
                skills in the kitchen.</p>
        </div>
        <hr>
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <h3>If you want to hire me, please contact me at:</h3>
            <p class="contact-message">Love hot wings as much as I do? Let's talk about how awesome they are! We can
                code while we eat hot wings!
            </p>
            <a class="btn" href="mailto:zoltan.molnar069@yahoo.com">CONTACT ME</a>
        </div>
    </div>
</div>
<div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/zoltan-molnar-61927069/">LinkedIn</a>
    <a class="footer-link" href="https://www.aloewebshop.hu/ ">Aloe Webshop</a>
    <p class="copyright">&copy; 2024 Zoltan Molnar.</p>
</div>
</body>
</html>