{% extends 'base.html' %}

{% block title %} Edit Movie {% endblock %}

{% block content %}


<div class="content">
    <h1 class="heading">{{ movie.title }}</h1>
    <p class="description">Edit the movie details below.</p>

    <div class="card">
        <form action="{{ url_for('edit', id=movie.id) }}" method="post">
            <label for="title">Title</label><br>
            <input type="text" name="title" id="title" value="{{movie.title}}" required><br>
            <label for="year">Year</label><br>
            <input type="number" name="year" id="year" value="{{movie.year}}" required><br>
            <label for="description">Description</label><br>
            <textarea name="description" id="description" required rows="5" cols="30">{{movie.description}}</textarea><br>
            <label for="rating">Rating</label><br>
            <input type="number" name="rating" id="rating" value="{{movie.rating}}" required step="0.1"><br>
            <label for="ranking">Ranking</label><br>
            <input type="number" name="ranking" id="ranking" value="{{movie.ranking}}" required ><br>
            <label for="review">Review</label><br>
            <textarea name="review" id="review" required rows="5" cols="30">{{movie.review}}</textarea><br>
            <label for="image">Image</label><br>
            <input type="url" name="image" id="image" value="{{movie.img_url}}" required><br>
            <p></p>
            <button class="btn btn-primary edit-button" type="submit">Edit</button>
        </form>
    </div>
</div> 
<div class="container text-center">
    <a href="{{ url_for('home') }}" class="button ">Back to Home</a>
</div>
{% endblock %}